* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,  rgb(253, 253, 43), rgb(6, 59, 232));
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    gap: 1rem;
}

button {
    background-color: rgba(32, 50, 248, 0.484);
    border: none;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: rgb(225, 237, 251);
    font-size: 1.5rem;
}

.activity {
    background-color: rgba(32, 50, 248, 0.484);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: rgb(225, 237, 251);
    font-family: monospace;
}

form {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    justify-items: start;
    background-color: rgba(32, 50, 248, 0.484);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}