*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(30, 11, 78);
    text-align: center;
}

.title{
    text-align: center;
    font-size: 3.5rem;
    color: rgb(143, 51, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.name{

}

img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(221, 152, 255, 0.856);
    margin: 10px;
}

.guests{
    display: flex;
    margin: 30px;
    gap: 30px;
}

.mem {
    color: rgb(167, 116, 255);
    
}