@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(90deg, rgba(235, 0, 255, 1) 0%, rgba(0, 245, 255, 1) 49%, rgba(255, 0, 220, 1) 100%);
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}

.guest {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: rgb(21, 21, 21);
    background: rgb(0,255,72);
    background: linear-gradient(90deg, rgba(0,255,72,1) 0%, rgba(0,245,255,1) 60%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 2px solid yellowgreen;
}