*{
    margin: 0;
    padding: 0;
}


h1{
    font-family: "Faster one";
}

.title{
    text-align: center;
    font-size: 3rem;
}

.homeTown{
    text-align: center;
    margin: 2rem;
}

.members{
    justify-content: space-around;
    padding: 0 2rem;
    gap: 1rem;
    display: flex;
}

ul{
    padding-left: 2rem;
}


img{
    height: 40%;
    weight: 40%;
}

