*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(texture.jpg);
}

.form{
  
    margin: 15px auto ;
    border:  2px solid ;
    width: fit-content ;
    padding: 8px;
    border-radius: 50px;
    background-color: #fff;
}

input{
   
    border:none;
    border-bottom: 1px solid;
}
button{
    border: none;
}