body {
    min-height: 100vh;
    background-color: darkslategray;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}
.clock {
    color: white;
    font-size: 1.1rem;
    font-family: monospace;
}