*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    border: 1px solid gray;
    width: 500px;
    margin: 20px auto;
    background-color: rgb(228, 138, 213);
    display: flex;
}

.head {
    border: 1px solid gray;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    background-color: bisque;
    width: 200px;
}

.body {
    margin: 20px;
}



