.wrapper {

}   
.head{
    border: 1px solid blue;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    background-color: lightblue;
  
}
body{
    border: 1px solid ;
    
    padding: 5px;
    background-color: green;
    border-radius: 3px;
}
section{
    width: 500px;
    margin: 2px;
}