*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg, white, pink);
    font-family: monospace;
}


header{
    text-align: center;
    padding: 1rem;
}


header h1{
    font-size: 2.5rem;
    text-decoration: underline;
    font-style: italic;
}

