img{
    width: 300px;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    background-color: pink;
    padding: 1rem;
    border-radius: 1rem ;
    text-align: center;
}
.top, .bottom{
    position: absolute;
    
}
.top{
    top: 40px;
   
}
.bottom{
    bottom: 70px;
}
p, h1{
    opacity: 0;
}