/* font-family: "Baskervville SC", serif; */
/* https://static.vecteezy.com/system/resources/previews/023/271/564/original/china-lamp-png.png */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(160, 0, 0);
    color: rgb(220, 140, 0);
    font-family: "Baskervville SC", serif;
}

header{
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 2px 5px black;
    position: relative;
}

.lamp{
    position: absolute;
    top: 3rem;
    width: 10rem;
    animation: shake ease-in-out 3s infinite;
    /* left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: rgb(220, 140, 0);
    border-radius: 50%;
    z-index: -1; */
}

.l1{
    left: 1rem;
}
.l2{
    right: 1rem;
}

@keyframes shake {
    0% {
         transform: translateY(-1rem)
        }
        50%{
            transform: translateY(1rem);
        }
        100%{
            transform: translateY(-1rem);
        }
    }

    main{
        display: flex;
        justify-content: space-around;

    }

    .container{
        border: 5px solid black;
        min-height: 50vh;
        padding: 3rem;
        background-color: rgb(121, 0, 0);
        width: 50%;
    }
    
    .subcontainer{
        border: 5px solid black;
        height: 100%;
        padding: 2rem;
        background-color: rgb(160, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .subcontainer img{
        width: 100%;
        border-radius: 1rem;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    input{
        min-width: 15rem;
        padding: 0.3rem;
        border-radius: 5rem;
        background-color: #ffdead;
        border: none;
    }

    lebal{
        font-size: 1.5rem;
        text-shadow: 2px 2px black;
    }

    input[type="submit"], input[type="time"]{
        min-width: auto;
        padding: 0.3rem;
    }

    @media all and (max-width: 500px){
        main{
            flex-direction: column;
            margin: 3rem;
            gap: 3rem;
        }
        .container{
            width: auto;
        }
    }

    table{
        width: 100%;
        margin: 2rem;
    }

    th{
        background-color: #0631a9;
        border: 1px solid #0631a9;
    }

    th:first-child{
        border-radius: 0.5rem 0 0 0;
    }

    th:last-child{
        border-radius: 0 0.5rem 0 0;
    }

    td{
        border: 2px solid #0631a9;
    }


