* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-basis: 50%;
}

.head {
    color: white;
    padding: 4px;
    text-align: center;
    background-color: blue;
    justify-content: center;
}

.body {
    background-color: green;
    padding: 10px;
}
