.title{
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 5px;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 5px rgb(170, 170, 170);
}
.a{
    text-align: center;
    width: 500px;
    margin: auto;
}
.a img{
    width: 100%;
    padding-bottom: 3rem;

}