/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background-color: #9f0102;
    color: #f3c43e;
    font-family: "Permanent Marker", cursive;
}
header{
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 5px black;
}
.lamp{
    position: absolute;
    top: 3rem;
    width: 8rem;
    animation: shake ease-in-out 3s infinite;
}
.l1{
    left: 1rem;
}
.l2{
    right: 1rem;
}

@keyframes shake{
    0%{
        transform: translateY(-1rem);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(-1rem);
    }
}
main{
    display: flex;
    justify-content: space-around;
}
.container{
    border: 5px solid black;
    min-height: 59vh;
    padding: 3rem;
    margin: 1rem;
    background-color: #7f0102;
    width: 50%;
}
.subcontainer{
    border: 5px solid black;
    height: 100%;
    padding: 2rem;
    background-color: #9f0102;
    justify-content: center;
    font-size: 1.45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subcontainer img{
    width: 100%;
    border-radius:1rem ;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
input{
    background-color: #ea8e16;
    border-radius: 5rem;
    padding: 0.3rem;
    min-width: 15rem;
}
label{
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
}
input[type="submit"], input[type="time"]{
    min-width: auto;
    padding: 0.3rem 3rem;
}

@media all and (max-width: 600px){
    main{
        flex-direction: column;
        margin: 3rem;
        gap: 3rem;
    }
    .container{
        width: 100%;
    }
}

table{
    width: 95%;
    margin: 2rem;
}
th{
    background-color: #068b76;
    border: 1px solid #068b76;
}
th:first-child{
    border-radius: 0.5rem 0 0 0;
}
th:last-child{
    border-radius: 0 0.5rem 0 0;
}
td{
    border: 1px solid #068b76;
}