/* url and object */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, orange, yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

button {
    border: none;
    padding:  1rem 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: white;
}

.activity {
    padding:  1rem 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: white;
}