*{
    margin: 0;
    padding: 0;
    border: border-box ;
}

body{
    background-image: url("texture.jpg");
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px auto;
    width: fit-content;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid black;
}

.form input{
    border: none;
    border-bottom: 2px solid black;
    font-size: 17px;
}

.form button{
    background-color: white;
    border: none;
    font-size: 17px;
}

.pokemon{
    background-color: white;
    border: 2px solid black;
    width: fit-content;
    border-radius: 2rem;
}

.pokemon .id {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.pokemon h1{
    text-align: center;
    padding: 1rem 2rem;
    text-transform: capitalize;
}

.pokemon img{
    height: 6rem;
    margin: 0 auto;
    display: block;
}

.pokemon ul{
    margin: 2rem;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}