*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Faster One';
    font-size: 3rem;
}
 .title {
    text-align: center;
    font-size: 3rem;
}

.hometown {
    text-align: center;
    margin: 3rem 0;;
}

img{
    width: 250px;
    height: 100%;
}