h1{
    text-align: center;
background-color: rgb(63, 59, 66);
box-shadow: 0 0 11px rgb(0, 38, 255);
color: rgb(93, 97, 175);
}

.guests{
    display: flex;
    text-align: center;
color: rgb(37, 19, 139);
}

img{
    width: 83%;
    border-radius: 20%;
    box-shadow: 0 0 10px rgb(139, 0, 93)
    ;
}