*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s {
    height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    background-color: white;
}

.scene1{
    background-color: red;
}

.scene2{
    background-color: blue;
}

img{
    height: 50%;
    
}

.abracadabra {
    transition: 1s;
    opacity: 1;
}

header{
    height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black,red, yellow );
    color: white;
    text-shadow: 0 0 5px black;
    font-family: sans-serif;
}

header h1 {
    font-size: 3rem;
}