* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(texture.jpg);
}

.form {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: 55555px;
    border-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    background: white;
    width: fit-content;
    margin: 0 auto;
}

input {
    border: none;
    border-bottom: 1px solid black;
}

button {
    border: none;
    text-align: 1rem;
}

.pokemon {
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    width: fit-content;
}

.id {
    text-align: center;
    padding: 1rem;
}

.pokemon img{
    width: 150px;
    display: block;
    margin: 0 auto;
}

.pokemon h1 {
text-align: center;
padding: 0 2rem;
}

.pokemon ul {
    padding: 1rem 2rem;
    
}

.logo {
    width: fit-content;
    margin: 1rem auto;
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 1.5rem;

}

.list{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 5px;
}

.list button{
    padding: 0.5rem 8.5rem;
    border: 1px solid black;
    border-radius: 5rem;
    background-color: white;
    text-align: start;
}

.list button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    gap: 2rem ;
    margin-top: 1 rem;
    background-color: white;
    border: 2px solid;
    padding: 0.3rem;
    border-radius: 1rem;
}

nav button, .pokemon button {
    border: 2px solid aquamarine;
    background-color: white;
    font-size: 1.2rem;
    padding: 0.2rem;
    font-weight: 700;
    color: aquamarine;

}

.pokemon button{
    border-radius: 2px;
    display: block;
    margin: 10px;
}

nav button:hover {
    background-color: aquamarine;
    color: white;
    cursor: pointer;
}

button:disabled {
    border-color: gray;
    color: gray;
}