*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Faster one";
    text-align: center;

}

.title {
    text-align: center;
    font-size: 3rem;
}

.hometown{
    text-align: center;
    margin: 3rem 0;
}

.members {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

ul {
    padding-left: 2rem;
}

p {
    margin: 5px 0;
}

.cats {
    text-align: center;
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
    border-radius: 20px;
    border: 5px solid black;
}