* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Faster one";
}

.title {
    text-align: center;
    font-size: 3rem;
}

.hometown {
    text-align: center;
    margin: 2rem;
}

.members {
    justify-content: space-around;
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
}

ul {
    padding-left: 2rem;
}

img {
    height: 50%;
    width: 50%;
    padding: 1.5rem;
}

.a {
    text-align: center;
}